@charset "utf-8";
/* CSS Document */

.row:after{
  content: '';
  display: table;
  clear: both;
}

.col-md-2{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 20%;
  height: 650px;
  padding: 10px;
  float: left;
  text-align: center;
  margin-bottom: 40px;
}

@media screen and (min-width:1300px) {
  .col-md-2, {
    width: 20%;
  }
}

@media screen and (min-width:870px) and (max-width:1299px) {
  .col-md-2 {
    width: 33.3333333%;
  }
}

@media screen and (min-width:580px) and (max-width:869px) {
  .col-md-2 {
    width: 50%;
  }
}

@media screen and (min-width:290px) and (max-width:579px) {
  .col-md-2 {
    width: 100%;
  }
}

span {
  display: inline-block;  
  min-height: 35px; 
  width: 250px;
}

article {
  width: 250px;
  height: 610px;
  display: inline-block;
}

h2 {
  height: 55px; 
}

p {
  text-align: justify;
}

span {
  text-align: left;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding-top: 10px;
  padding-bottom: 10px;
}

.two {
  width: 250px;
  height: 248px;
  position: absolute;
  top: 0;
  left: 0;
}

.one {
  width: 250px;
  height: 248px;
  position: absolute;
  top: 0;
  left: 0;
/*  z-index: -1;*/
  transition: all 50s ease-in .3s;
}

.img-wrapper {
  position: relative;
  width: 250px;
  height: 248px;
  overflow: hidden;
}

.one:hover {
  top: -999250px;
}

/*.one:active {
  z-index: -1;
}*/

.square {
  width: 10px;  
  height: 10px; 
  background-color: black;
/*  transform: rotate(45deg);*/
  margin: 0 auto;
/*  width: 100px;
  height: 2px;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;*/
}

blockquote {
  margin: 0;
}